html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

section{
  display: flex;
}


#red-box{
    height: 325px ;
    width: 514px;
    background-color:#E63B05;
    border-top: 36px solid #000000;
    border-right: 45px solid #000000;
    border-left:45px solid #000000;
    border-bottom: 45px solid #000000;
    margin-left: 82px;
    margin-right: 39px;
}

#indigo-box{
    height: 223px;
    width: 515px;
    background-color: #3F05E7;
    border: 71px solid #000000;
    border-top: 71px solid #000000;
    border-left: 80px solid #000000;
    border-bottom: 80px solid #000000;
    border-right: 80px solid #000000;
}

#orange-box{
  height: 253px;
  width: 128px;
  background-color: #E69A04;
  border: 28px solid #000000;
  margin-left: 17px;
  margin-top: 70px;
}

#forestGreen-box{
  height: 335px;
  width: 514px;
  border: 18px solid #000000;
  margin-left: 82px;
  margin-top: 17px;
  padding-left: 131px;
  padding-right: 131px;
}
#boxInsideFG-box{
  background-color: #22E71B;
  height: 240px;
  width: 220px;
  margin-top: 30px;
}

#turtleGreen-box{
  height: 335px;
  width: 128px;
  background-color: #22E77A;
  border: 25px solid #000000;
  margin-left: 117px;
  margin-top: 10px;
}

#lilac-box{
  height: 130px;
  width: 455px;
  border: 5px solid #000000;
  margin-top: 10px;
}

#boxInsideL-box{
  height: 90px;
  width: 300px;
  background-color: #E605B4;
  margin-left: 63px;
  margin-top: 16px;
}

#darkLilac-box{
  height: 142px;
  width:304px;
  border: 24px solid #000000;
  margin-top: 33px;
  margin-left: 130px;
}

#boxInsideDL-box{
  height: 94px;
  width: 203px;
  margin-left: 25px;
  background-color: #8407BE;
}

#orange-boxBTM{
  height: 90px;
  width: 1209px;
  background-color: #E76405;
  border: 28px solid #000000;
  margin-left: 82px;
  margin-bottom: 32px;
}
