html {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit;
}

main{
    margin-top: 10px;
    margin-left:158px;
    margin-right:135px;
}
body{
    margin:0px;
}
section{
    display: flex;
}

.top-row{
    height:326px;
    width: 1211px;
}

#red-box{
    background-color: rgb(230,59,5);
    width:426px;
    height:245px;
    border: 46px solid black;
    border-top: 36px solid black;
}

#blue-box{
    background-color: rgb(63,5,231);
    width:355px;
    height:72px;
    border-top: 71px solid black;
    border-bottom: 80px solid black;
    border:80px solid black;
}
#blue-container{
    margin-left:39px;
}

#org-box{
    background-color:rgb(230,154,4);
    width:72px;
    height:199px;
    border: 30px solid black;
    border-top: 29px solid black;
    border-bottom:29px solid black;
}
#org-container{
    margin-top: 72px;
    margin-left: 18px;
}

.second-row{
    margin-top: 18px;
    max-height: 413px;
}

#lime-box{
    background-color: rgb(34,231,27);
    width:221px;
    height:239px;
    margin: 30px 131px;
}
#lime-container{
    border: 19px solid black;
}

#sgreen-box{
    background-color: rgb(45,203,142);
    width: 72px;
    height: 279px;
    border: 29px solid black;
}
#sgreen-container{
    margin-left:119px;
}

#pink-box{
    background-color: rgb(230,5,180) ;
    width: 302px;
    height: 90px;
    margin: 18px 72px;
}
#pink-container{
    border: 5px solid black;
    width: 442px;
    height: 124px;
}

#purple-box{
    background-color: rgb(132,7,190);
    width: 205px;
    height: 97px;
    margin: 0px 28px;
}
#purple-container{
    width: 257px;
    height: 97px;
    border: 23px solid black;
    margin-right:20px;
    margin-top: 37px;
    margin-left: 147px;
}

.third-row{
    width: 1211px;
}
#choco-box{
    background-color: rgb(231,100,5);
    width: 1157px;
    height: 34px;
    border: 30px solid black;
}