body {
  padding-left: 79px;
  padding-top: 8px;
  padding-bottom: 120px;
  margin: 0;
}

#holder {
  height: 670px;
  width: 1360px;
}

#first {
  background-color: #e63b05;
  height: 245px;
  width: 425px;
  border: 47px solid black;
  border-left-width: 46px;
  border-top-width: 36px;
  border-bottom-width: 44px;
  display: inline-block;
  margin-right: 39px;
  margin-bottom: 12px;
}

#second {
  background-color: #3f05e7;
  box-shadow: 1px 7px 5px #cfcfcf;
  border-left: 75px solid black;
  border-right: 75px solid black;
  border-bottom: 81px solid black;
  border-top: 75px solid black;
  height: 71px;
  width: 354px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

#third {
  box-shadow: 1px 7px 5px #cfcfcf;
  height: 198px;
  width: 72px;
  background-color: #e69a04;
  display: inline-block;
  border: 29px solid black;
  margin-bottom: 13px;
}

#fourth {
  height: 299px;
  width: 480px;
  display: inline-block;
  border-top: 19px solid black;
  border-left: 17px solid black;
  border-right: 17px solid black;
  border-bottom: 19px solid black;
  margin-right: 115px;
  padding-right: 4px;
}

#fifth {
  background-color: #22e71b;
  height: 240px;
  width: 221px;
  margin-left: 133px;
  margin-top: 29px;
  display: inline-block;
}

#sixth {
  height: 278px;
  width: 73px;
  background-color: #22e77a;
  display: inline-block;
  border-left: 28px solid black;
  border-top: 29px solid black;
  border-right: 33px solid black;
  border-bottom: 30px solid black;
  vertical-align: bottom;
  margin-left: -7px;
}

#seventh {
  height: 126px;
  width: 442px;
  border: 5px solid black;
  border-left: 5px solid black;
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}

#eighth {
  height: 87px;
  width: 302px;
  background-color: #e605b4;
  margin-left: 71px;
  margin-top: 18px;
}

#ninth {
  display: inline-block;
  margin-left: 140px;
  margin-top: 62px;
  height: 97px;
  width: 257px;
  border: 25px solid black;
}

#tenth {
  height: 97px;
  width: 204px;
  display: inline-block;
  background-color: #8407be;
  margin-left: 28px;
}

#eleventh {
  height: 33px;
  width: 1159px;
  background-color: #e76405;
  margin-top: 38px;
  margin-left: -934px;
  border: 29px solid black;
  box-shadow: 1px 7px 5px #cfcfcf;
}