.orange{
    background-color:#e73b05;
    height:244px;
    width:425px;
    border:40px solid black;
    margin:10px 49px 18px 49px;
}
.lime-container{
    background-color:white;  
    height:299px;
    width:469px;
    border:18px solid black;
    margin:18px 49px 0px 49px;
}
.lime{
    background-color: #21e71c; 
    height:239px;
    width:220px;
    margin:30px 130px;
}
.bottom-container{
    background-color:#e76406;
    height:34px;
    width:1150px;
    border:30px solid black;
    margin-left:49px;
    margin-bottom:18px;
}
.blue-container{
    background-color:#3f30e7;
    position:absolute;
    top:10px;
    right:162px;
    height:71px;
    width:356px;
    border:80px solid black;
}
.small-orange{
    background-color:#e79a04;
    position:absolute;
    top:80px;
    right:16px;
    height:198px;
    width:73px;
    border:28px solid black;
    
}
.teal{
    background-color:#23e77a;
    position:absolute;
    top:352px;
    right:469px;
    height:279px;
    width:73px;
    border:30px solid black;
}
.pink-container{
    background-color:white; 
    position:absolute;
    top:352px;
    right:16px;
    height:121px;
    width:443px;
    border:5px solid black;
}
.pink{
    background-color: #e730b4;
    height:89px;
    width:303px;
    margin:16px 70px;
}
.purple{
    background-color: #8329bf;
    height:98px;
    width:203px;
    margin:0 27px;
}
.purple-container{
    background-color:white;
    position:absolute;
    right:16px;
    top:511px;
    height:98px;
    width:257px;
    border:24px solid black;
}